@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

body {
    z-index: -20;
}

#nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin: 50px;
    font-family: inherit;
    font: 600 1.5rem/1.25 'Montserrat', sans-serif;
    width: 27.8%;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 3px solid black;
    cursor: pointer;
    position: relative;
    background-color: white;
}

button::after {
    border: 3px dashed black;
    content: "";
  
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: -3px;
    left: -3px;
    transition: 0.2s;
}

button:hover::after {
    top: 7px;
    left: -11px;
}

#date {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#visitscounter {
    font-size: 12px;
    font: 600 1.5rem/1.25 'Montserrat', sans-serif;
    position: absolute;
    bottom: 0.4%;
    margin: 0.4%;
}